@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: var(--desaturated-red);

  min-height: 100vh;

  position: relative;

  overflow-y: hidden;
  overflow-x: hidden;
}

/* Logo: */
header {
  position: absolute;
  top: 3rem;
  left: 12rem;
  /* border: red 3px solid; */
}

header img {
  width: 10rem;
}

/* Main body section with text | picture */
main {
  /* height: 100%; */
  /* height: 100vh; */
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

/* Text */
.text {
  /* border: 3px green solid; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-right: 5rem;
  /* height: 100%; */
  background: url(./base-apparel-coming-soon-master/images/bg-pattern-desktop.svg)
    no-repeat center center/cover;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
  font-weight: 300;
  letter-spacing: 1rem;
  word-spacing: 100vw;
  line-height: 1.2;
  /* border: 3px solid black; */
  width: 28rem;
}

.dark {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

p {
  /* border: 3px solid black; */
  width: 28rem;
  line-height: 2;
}

form {
  display: flex;
  /* border: black 3px solid; */
}

input {
  width: 28rem;
  padding: 15px;
  background: transparent;
  /* border: var(--dark-grayish-red) 1px solid; */
  border: var(--desaturated-red) 1px solid;
  border-radius: 40px;
  transform: translateX(50px);
}

::placeholder {
  color: var(--desaturated-red);
}

button,
button:hover {
  transition: 0.2s;
  padding: 20px 50px;
  border-radius: 40px;
  border: none;
  transform: translateX(-60px);
}

.btn-red {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

/* Hero picture */
picture {
  /* width: 100%; */
  height: 100vh;
}

picture img {
  /* width: 100%; */
  /* height: 100%; */
  height: 100%;
}

@media (max-width: 480px) {
  body {
    display: grid;
    grid-template-areas:
      'header'
      'hero'
      'main';

    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  }

  main {
    grid-template-columns: 1fr;
    margin-top: 10rem;
  }
}
