@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
  --desaturated-red: hsl(0, 36%, 70%);
  --soft-red: hsl(0, 93%, 68%);
  --dark-grayish-red: hsl(0, 6%, 24%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;

  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  color: var(--desaturated-red);
}

/* Logo: */
header {
  position: absolute;
  top: 4.5rem;
  left: 11.5rem;
}

header img {
  width: 11rem;
}

/* Main body section with text | picture */
main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
}

/* Text */
.text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
  padding-top: 4rem;
  padding-right: 6.5rem;
  background: url(./base-apparel-coming-soon-master/images/bg-pattern-desktop.svg)
    no-repeat center center/cover;
}

h1 {
  text-transform: uppercase;
  font-size: 4.6rem;
  font-weight: 300;
  letter-spacing: 1.1rem;
  word-spacing: 100vw;
  line-height: 1.05;
  width: 28rem;
}

.dark {
  color: var(--dark-grayish-red);
  font-weight: 600;
}

p {
  width: 28rem;
  line-height: 2;
}

form {
  display: flex;
  margin-top: 1rem;
}

input {
  width: 28rem;
  padding: 15px;
  background: transparent;
  border: var(--desaturated-red) 1px solid;
  border-radius: 40px;
  transform: translateX(50px);
}

::placeholder {
  color: var(--desaturated-red);
  font-size: 16px;
  padding-left: 20px;
  font-family: 'Josefin Sans', sans-serif;
}

button {
  transition: 0.2s;
  padding: 20px 50px;
  border-radius: 40px;
  border: none;
}

button:hover {
  transition: 0.2s;
}

.btn-red {
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  transform: translateX(-60px);
}

/* Hero picture */
picture {
  height: 100vh;
}

picture img {
  height: 100%;
}

@media (max-width: 1150px) {
  header {
    left: 5rem;
  }

  .text {
    padding-right: 0;
  }

  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 950px) {
  body {
    display: grid;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));

    overflow-x: auto;
    overflow-y: auto;
  }

  main {
    grid-template-columns: 1fr;
    margin-top: 10rem;
  }

  .text {
    background: none;
    text-align: center;
  }

  form {
    padding-bottom: 6rem;
  }

  input {
    width: 22rem;
    transform: translateX(30px);
  }

  button {
    padding: 15px 30px;
  }

  .btn-red {
    transform: translateX(-40px);
  }

  picture {
    height: auto;
    height: 30rem;
    width: 100vw;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  picture img {
    object-fit: cover;
    width: 100%;
    object-position: 50% 0%;
  }
}

@media (max-width: 480px) {
  header {
    top: 3rem;
    left: 2rem;
  }

  main {
    margin: 8rem 0;
  }

  picture {
    height: auto;
    width: 100%;
  }

  .text {
    margin-top: 2rem;
  }

  form {
    margin-top: 2rem;
  }
}
